<script type="text/html" id="a-item-edit">
	
	<v-switch v-if="setting.type == 'bool'"
		:label="(hide_label)? '' : setting.title" :suffix="setting.units" v-model="setting.default">
	</v-switch>
	
	<v-text-field v-else-if="setting.type == 'float'"
		:label="(hide_label)? '' : setting.title" :suffix="setting.units" v-model.number="setting.default"
		:placeholder="(placeholder)? placeholder : ' '" type="number" step="any" :rules="[rules.float]">
	</v-text-field>
	
	<v-text-field v-else-if="setting.type == 'int'"
		:label="(hide_label)? '' : setting.title" :suffix="setting.units" v-model.number="setting.default"
		:placeholder="(placeholder)? placeholder : ' '" type="number" :rules="[rules.integer]">
	</v-text-field>
	
	<v-text-field v-else-if="setting.type == 'string'"
		:label="(hide_label)? '' : setting.title" :suffix="setting.units" v-model="setting.default"
		:placeholder="(placeholder)? placeholder : ' '">
	</v-text-field>
	
	<v-select v-else-if="setting.type == 'choice'"
		:label="(hide_label)? '' : setting.title" :suffix="setting.units" v-model="setting.default"
		:items="setting.choices">
	</v-select>
	
	<a-json-field v-else-if="setting.type == 'array'"
		:label="(hide_label)? '' : setting.title" :suffix="setting.units" v-model="setting.default"
		:placeholder="(placeholder)? placeholder : ' '">
	</a-json-field>
	
</script>
<script type="text/javascript">
	Vue.component('a-item-edit', {
		template: '#a-item-edit',
		props: ['setting', 'hide_label', 'placeholder'],
		data: function() {
			return {
				rules: {
					integer: val => Number.isInteger(val) || '',
					float: val => typeof(val) == 'number' || '',
				}
			};
		},
		watch: {
			setting(val) {
				this.$emit('update:setting', val);
			},
		}
	});
</script>

