<script type="text/html" id="a-progress-bar-timed">
<v-list-item v-if="visible">
	<v-row dense align="center">
		<v-col cols="6">
			<v-list-item-title>{{title}} {{valuecurrent}} of {{valuemaximum}} </v-list-item-title>
		</v-col>
		
		<v-col cols="5">
			<v-progress-linear style="transition: none;" class="roundedcorners" height="10" color="success" v-model="progressPercent"></v-progress-linear>
		</v-col>
		
		<v-col cols="1">
			<v-list-item-action>{{time | formatTimestamp}}</v-list-item-action>
		</v-col>
	</v-row>
</v-list-item>
</script>

<script type="text/javascript">
	Vue.component('a-progress-bar-timed', {
		template: '#a-progress-bar-timed',
		props: ['visible', 'title', 'time', 'valuestart', 'valuecurrent', 'valuemaximum'],
		filters:{
			formatTimestamp: function(value) {
				if(!value) return '';
				value = parseFloat(value)
				//hours = Math.floor(value/3600)
				//value %= 3600
				minutes = Math.floor(value/60)
				value %= 60
				seconds = value
				return ('0' + minutes).slice(-2) + ':' + ('0' + seconds.toFixed(2)).slice(-5);
			}
		},
		computed:{
			progressPercent: function() {
				if(!this.valuecurrent || !this.valuemaximum) return;
				
				if(this.valuestart){ 
					return (this.valuecurrent - this.valuestart)/(this.valuemaximum - this.valuestart)*100;
				} 
				
				return (this.valuecurrent)/(this.valuemaximum)*100;
			}
		},
	});
</script>

