
<!-- <a-schedule-job-edit v-model="job" :schedule-object-default="scheduleObjectDefault"></a-schedule-job-edit> -->

<script type="text/html" id="a-schedule-job-edit">
<v-container v-if="job != undefined && jobDefault != undefined">
	<v-row dense>
		
		<!-- Column (runType, Identifiers, MeasurementSystem) -->
		<v-col xs="12" sm="6" md="4" lg="3" xl="2">
			<v-card>
				<v-toolbar dark dense class="color2">
					<v-toolbar-title>
						Parameters
					</v-toolbar-title>
				</v-toolbar>
				
				<v-select filled class="ma-3 mb-0" label="Run Type" v-model="job['runType']['default']" :items="Object.keys(jobDefault['runConfigs'] || {})"></v-select>
				
				<v-list class="ma-0 pa-0">
					<v-list-item class="grey lighten-3">
						<v-list-item-title style="font-weight: bold">Identifiers</v-list-item-title>
					</v-list-item>
					<a-item-edit-group class="grey lighten-3" :settings.sync="job['Identifiers']"></a-item-edit-group>
				</v-list>
				
				<v-list class="ma-0 pa-0">
					<v-list-item>
						<v-list-item-title style="font-weight: bold">Measurement System</v-list-item-title>
					</v-list-item>
					<a-item-edit-group :settings.sync="job['MeasurementSystem']"></a-item-edit-group>
				</v-list>
			</v-card>
		</v-col>
		
		<!-- Column (DeviceCycling) -->
		<v-col xs="12" sm="6" md="4" lg="3" xl="2" v-if="job['MeasurementSystem']['deviceCycling']['default']">
			<v-card>
				<v-toolbar dark dense class="color2">
					<v-toolbar-title>
						Device Cycling
					</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-btn icon @click="job['DeviceCycling'] = JSON.parse(JSON.stringify(jobDefault['DeviceCycling']))">
						<v-icon>settings_backup_restore</v-icon>
					</v-btn>
				</v-toolbar>
				
				<v-list class="pt-4">
					<a-item-edit-group :settings.sync="job['DeviceCycling']"></a-item-edit-group>
				</v-list>
			</v-card>
		</v-col>
		
		<!-- Column (runType parameters) -->
		<v-col xs="12" sm="6" md="4" lg="3" xl="2" v-if="job['runType']['default'] != ''">
			<v-card>
				<v-toolbar dark dense class="color2">
					<v-toolbar-title>
						{{ job['runType']['default'] }}
					</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-btn icon @click="job['runConfigs'][job['runType']['default']] = JSON.parse(JSON.stringify(jobDefault['runConfigs'][job['runType']['default']]))">
						<v-icon>settings_backup_restore</v-icon>
					</v-btn>
				</v-toolbar>
				
				<v-list class="pt-4">
					<a-item-edit-group :settings.sync="job['runConfigs'][job['runType']['default']]"></a-item-edit-group>
				</v-list>
			</v-card>
		</v-col>
		
		<!-- Column (runType dependency parameters) -->
		<v-col xs="12" sm="6" md="4" lg="3" xl="2" v-for="dependency in _.get(jobDefault, ['runConfigs', job['runType']['default'], 'dependencies', 'value'])" :key="dependency">
			<v-card>
				<v-toolbar dark dense class="color2">
					<v-toolbar-title>
						{{ dependency }}
					</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-btn icon @click="job['runConfigs'][dependency] = JSON.parse(JSON.stringify(jobDefault['runConfigs'][dependency]))">
						<v-icon>settings_backup_restore</v-icon>
					</v-btn>
				</v-toolbar>
				
				<v-list class="pt-4">
					<a-item-edit-group :settings.sync="job['runConfigs'][dependency]"></a-item-edit-group>
				</v-list>
			</v-card>
		</v-col>
		
	</v-row>
</v-container>
</script>

<script type="text/javascript">
	Vue.component('a-schedule-job-edit', {
		template: '#a-schedule-job-edit',
		props: ['job', 'job-default'],
		data: function() {
			return {
				
			};
		},
		watch: {
			job(val) {
				this.$emit('update:job', val);
			},
		},
	});
</script>

					<!-- Below are some old implemtentations that have been replaced by custom components above -->

					<!-- <template v-for="(setting, settingName) in jobDefault['MeasurementSystem']" v-if="['bool','float','int','string','choice','array'].includes(setting.type)">
						<v-tooltip top>
							<v-list-tile slot="activator" style="overflow:scroll; overscroll-behavior: contain">
								<a-item-edit v-model="job['MeasurementSystem'][settingName]"></a-item-edit>
								
								<v-combobox v-if="setting.type == 'array'" :label="setting.title"
									v-model="job['MeasurementSystem'][settingName]['default']" :items="job['MeasurementSystem'][settingName]['choices']" multiple small-chips :delimiters="[',',' ',';']"></v-combobox>
							</v-list-tile>
							<span><b>{{ setting.title }}</b></br>Type: <{{ setting.type }}>, Units: [{{ setting.units }}]</br>{{ setting.description }}</span>
						</v-tooltip>
					</template> -->

					<!-- <template v-for="(setting, settingName) in jobDefault['runConfigs'][job['runType']['default']]" v-if="['bool','float','int','string','choice','array'].includes(setting.type)">
						<v-tooltip top>
							<v-list-tile slot="activator">
								<a-item-edit v-model="job['runConfigs'][job['runType']['default']][settingName]" :suffix="' ('+_.get(setting,['units'])+')'"></a-item-edit>
								
							</v-list-tile>
							<span><b>{{ setting.title }}</b></br>Type: <{{ setting.type }}>, Units: [{{ setting.units }}]</br>{{ setting.description }}</span>
						</v-tooltip>
					</template> -->
					
					<!-- <template v-for="(setting, settingName) in jobDefault['runConfigs'][dependency]" v-if="['bool','float','int','string','choice','array'].includes(setting.type)">
						<v-tooltip top>
							<v-list-tile slot="activator">
								<a-item-edit v-model="job['runConfigs'][dependency][settingName]" :suffix="' ('+_.get(setting,['units'])+')'"></a-item-edit>
								
							</v-list-tile>
						</v-list-tile>
							<span><b>{{ setting.title }}</b></br>Type: <{{ setting.type }}>, Units: [{{ setting.units }}]</br>{{ setting.description }}</span>
						</v-tooltip>
					</template> -->

