

<script type="text/html" id="s-json-field">
	<v-text-field v-model="stringRepresentation" :label="label" :suffix="suffix"></v-text-field>
</script>

<script type="text/javascript">
	Vue.component('s-json-field', {
		template: '#s-json-field',
		props: ['value', 'label', 'suffix'],
		data: function() {
			return {
				stringRepresentation: JSON.stringify(this.value)
			};
		},
		watch: {
		 	stringRepresentation(newVal, oldVal) {
		 		try {
		 			// if (newVal.split(",").length > oldVal.split(",").length) {
		 			// 	var objectRepresentation = jsyaml.safeLoad(this.stringRepresentation);
		 			// } else {
		 				var objectRepresentation = JSON.parse(this.stringRepresentation);
		 			// }
		 			this.$emit('input', objectRepresentation);
		 		} catch (e) {
		 			console.log('Invalid JSON input to <s-json-field> component');
		 		}
			},
			value(val) {
				this.stringRepresentation = JSON.stringify(val);
			}
		}
	});
</script>

