<!DOCTYPE html>
<html>
<head>
	<title>User Interface</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="/ui/vuetify.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	
	<style media="screen" type="text/css">
		html {
			overscroll-behavior: none;
		}
		
		[v-cloak] > * {
			display: none;
		}

		.fade-leave-active, .fade-enter-active {
			transition: 0.7s ease;
		}
		.fade-leave-to {
			opacity: 1;
		}
		.fade-enter, .fade-leave {
			opacity: 0;
		}
		
		.loaderfadeaway-enter-active .loaderfadeaway-leave-active {
			transition: opacity .5s;
		}
		.loaderfadeaway-enter, .loaderfadeaway-leave-to {
			opacity: 0;
		}
		
		.spinner {
			margin: 100px auto;
			width: 40px;
			height: 40px;
			position: relative;
			text-align: center;
			
			-webkit-animation: sk-rotate 2.0s infinite linear;
			animation: sk-rotate 2.0s infinite linear;
		}
		.dot1, .dot2 {
			width: 60%;
			height: 60%;
			display: inline-block;
			position: absolute;
			top: 0;
			background-color: #333;
			border-radius: 100%;
			
			-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
			animation: sk-bounce 2.0s infinite ease-in-out;
		}
		.dot2 {
			top: auto;
			bottom: 0;
			-webkit-animation-delay: -1.0s;
			animation-delay: -1.0s;
		}
		@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
		@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
		@-webkit-keyframes sk-bounce {
			0%, 100% { -webkit-transform: scale(0.0) }
			50% { -webkit-transform: scale(1.0) }
		}
		@keyframes sk-bounce {
			0%, 100% { 
				transform: scale(0.0);
				-webkit-transform: scale(0.0);
			} 50% { 
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
			}
		}
		
		img {
			width: auto;
			height: auto;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
		
		.zoomableImage:hover {
			opacity: 0.7;
			transition: opacity 0.5s;
		}
		.zoomedImage {
			position: fixed;
			z-index: 500;
			background-color: rgb(255,255,255);
			max-width: 80vw;
			max-height: 90vh;
			top: 50vh;
			right: 50vw;
			transform: translate(50%, -50%);
		}
	</style>
</head>
<body>
	<div id="app">
		
		<transition name="loaderfadeaway">
		<div style="height:100%; width: 100%; z-index: 1000; position: absolute; background-color: rgb(255,255,255);" v-if="pageLoading">
			<div class="spinner">
				<div class="dot1"></div>
				<div class="dot2"></div>
			</div>
		</div>
		</transition>
		
	<transition name="fade" mode="out-in" appear>
		<v-app v-cloak>
				<v-navigation-drawer clipped fixed v-model="drawer" class="blue-grey lighten-1" dark app>
					<v-list dense>
						<v-list-tile @click="">
							<v-list-tile-action>
								<v-icon>dashboard</v-icon>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>Dashboard</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
						<v-list-tile @click="setTopLevelPage('stepper')">
							<v-list-tile-action>
								<v-icon>list</v-icon>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>Browser</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
						<v-list-tile @click="setTopLevelPage('scheduleCreator')">
							<v-list-tile-action>
								<v-icon>schedule</v-icon>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>Schedule Creator</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
						<v-list-tile @click="">
							<v-list-tile-action>
								<v-icon>settings</v-icon>
							</v-list-tile-action>
							<v-list-tile-content>
								<v-list-tile-title>Settings</v-list-tile-title>
							</v-list-tile-content>
						</v-list-tile>
					</v-list>
				</v-navigation-drawer>
				<v-toolbar app fixed clipped-left dark color="blue-grey darken-1">
					<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
					<v-toolbar-title>User Interface</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-toolbar-items>
						<v-menu attach bottom left offset-y :close-on-content-click="false" :nudge-width="200">
							<v-btn slot="activator" flat><v-icon>art_track</v-icon></v-btn>
							<v-card light>
								<v-list>
									<v-list-tile v-for="plotSettingValue, plotSettingName in setPlotSettings">
										<v-switch v-if="plotSettingTypes[plotSettingName]['type'] == 'bool'" :label="plotSettingName" v-model="setPlotSettings[plotSettingName]"></v-switch>
										<v-text-field v-if="plotSettingTypes[plotSettingName]['type'] == 'int'" :label="plotSettingName" v-model.number="setPlotSettings[plotSettingName]" type="number"></v-text-field>
										<v-text-field v-if="plotSettingTypes[plotSettingName]['type'] == 'float'" :label="plotSettingName" v-model.number="setPlotSettings[plotSettingName]" type="number"></v-text-field>
										<v-text-field v-if="plotSettingTypes[plotSettingName]['type'] == 'array'" :label="plotSettingName" v-model="setPlotSettings[plotSettingName]"></v-text-field>
										<v-text-field v-if="plotSettingTypes[plotSettingName]['type'] == 'object'" :label="plotSettingName" v-model="setPlotSettings[plotSettingName]"></v-text-field>
										<v-select v-if="plotSettingTypes[plotSettingName]['type'] == 'choice'" :label="plotSettingName" :items="plotSettingTypes[plotSettingName]['choices']" v-model="setPlotSettings[plotSettingName]"></v-select>
									</v-list-tile>
								</v-list>
							</v-card>
						</v-menu>
						<v-menu attach bottom left offset-y>
							<v-btn slot="activator" flat>{{ user }}<v-icon right>people</v-icon></v-btn>
							<v-list light>
								<v-list-tile v-for="u in users" @click="goToUser(u)">
									<v-list-tile-avatar color="blue-grey lighten-2"><v-icon dark>account_circle</v-icon></v-list-tile-avatar>
									<v-list-tile-content><v-list-tile-title>{{ u }}</v-list-tile-title></v-list-tile-content>
								</v-list-tile>
							</v-list>
						</v-menu>
					</v-toolbar-items>
				</v-toolbar>
				<v-content>
					
					<v-stepper v-if="topLevelPage == 'stepper'" v-model="stepperPage" style="background-color:rgba(255,255,255,0);height:100%;">
						<v-stepper-header style="background-color:rgba(255,255,255,1);">
							<v-stepper-step step="1" :complete="stepperPage > 1" :editable="stepperPage > 1">Projects</v-stepper-step>
							<v-divider></v-divider>
							<v-stepper-step step="2" :complete="stepperPage > 2" :editable="stepperPage > 2">Wafers</v-stepper-step>
							<v-divider></v-divider>
							<v-stepper-step step="3" :complete="stepperPage > 3" :editable="stepperPage > 3">Chips</v-stepper-step>
							<v-divider></v-divider>
							<v-stepper-step step="4" :complete="stepperPage > 4" :editable="stepperPage > 4">Devices</v-stepper-step>
							<v-divider></v-divider>
							<v-stepper-step step="5" :complete="stepperPage > 5" :editable="stepperPage > 5">Experiments</v-stepper-step>
							<v-divider></v-divider>
							<v-stepper-step step="6" :complete="stepperPage > 6" :editable="stepperPage > 6">Experiment</v-stepper-step>
						</v-stepper-header>
						
						<v-stepper-items>
							
							<v-stepper-content step="1">
								<v-card v-if="stepperPage > 0">
									<v-toolbar dark class="blue-grey darken-1">
										<v-toolbar-title>
											Projects
										</v-toolbar-title>
										<v-spacer></v-spacer>
										<v-text-field v-model="projectTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
										<v-btn icon @click="getAll()"><v-icon>refresh</v-icon></v-btn>
									</v-toolbar>
									<v-data-table :items="projects" :headers="projectTableHeaders" :search="projectTableSearch" must-sort
										:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
										no-results-text="Your search did not return any results."
										:custom-filter="customVDataTableFilter">
										<template slot="items" slot-scope="props">
											<tr @click="goToProject(props.item.name)">
												<td>{{ props.item.name }}</td>
											</tr>
										</template>
									</v-data-table>
								</v-card>
							</v-stepper-content>
							
							<v-stepper-content step="2">
								<v-card v-if="stepperPage > 1">
									<v-toolbar dark class="blue-grey darken-1">
										<v-btn icon @click="stepperPage--; getProjects()"><v-icon>arrow_back</v-icon></v-btn>
										<v-toolbar-title>
											Wafers
										</v-toolbar-title>
										<v-spacer></v-spacer>
										<v-text-field v-model="waferTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
										<v-btn icon @click="getAll()"><v-icon>refresh</v-icon></v-btn>
									</v-toolbar>
									<v-data-table :items="wafers" :headers="waferTableHeaders" :search="waferTableSearch" must-sort
										:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
										no-results-text="Your search did not return any results."
										:custom-filter="customVDataTableFilter">
										<template slot="items" slot-scope="props">
											<tr @click="goToWafer(props.item.name)">
												<td>{{ props.item.name }}</td>
												<td>{{ props.item.path }}</td>
												<td>{{ new Date(props.item.modificationTime*1000).toLocaleString() }}</td>
												<td>{{ props.item.size }}</td>
												<td>{{ props.item.chipCount }}</td>
												<td>{{ props.item.indexCount }}</td>
												<td>{{ props.item.experimentCount }}</td>
											</tr>
										</template>
									</v-data-table>
								</v-card>
							</v-stepper-content>
							
							<v-stepper-content step="3">
								<v-card v-if="stepperPage > 2">
									<v-toolbar dark class="blue-grey darken-1">
										<v-btn icon @click="stepperPage--; getWafers()"><v-icon>arrow_back</v-icon></v-btn>
										<v-toolbar-title>
											{{ wafer }} Chips
										</v-toolbar-title>
										<v-spacer></v-spacer>
										<v-text-field v-model="chipTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
										<v-btn icon @click="getAll()"><v-icon>refresh</v-icon></v-btn>
									</v-toolbar>
									<v-data-table :items="chips" :headers="chipTableHeaders" :search="chipTableSearch" must-sort
										:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
										no-results-text="Your search did not return any results."
										:custom-filter="customVDataTableFilter">
										<template slot="items" slot-scope="props">
											<tr @click="goToChip(props.item.name)">
												<td>{{ props.item.name }}</td>
												<td>{{ props.item.path }}</td>
												<td>{{ new Date(props.item.modificationTime*1000).toLocaleString() }}</td>
												<td>{{ props.item.size }}</td>
												<td>{{ props.item.deviceCount }}</td>
												<td>{{ props.item.indexCount }}</td>
												<td>{{ props.item.experimentCount }}</td>
											</tr>
										</template>
									</v-data-table>
								</v-card>
							</v-stepper-content>
							
							<v-stepper-content step="4">
								<v-card v-if="stepperPage > 3">
									<v-toolbar dark class="blue-grey darken-1">
										<v-btn icon @click="stepperPage--; getChips();"><v-icon>arrow_back</v-icon></v-btn>
										<v-toolbar-title>
											{{ wafer }}{{ chip }} Devices
										</v-toolbar-title>
										<v-spacer></v-spacer>
										<v-text-field v-model="deviceTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
										<v-btn icon @click="getAll()"><v-icon>refresh</v-icon></v-btn>
									</v-toolbar>
									<v-data-table :items="devices" :headers="deviceTableHeaders" :search="deviceTableSearch" must-sort
										:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
										no-results-text="Your search did not return any results."
										:custom-filter="customVDataTableFilter">
										<template slot="items" slot-scope="props">
											<tr @click="goToDevice(props.item.name)">
												<td>{{ props.item.name }}</td>
												<td>{{ props.item.path }}</td>
												<td>{{ new Date(props.item.modificationTime*1000).toLocaleString() }}</td>
												<td>{{ props.item.size }}</td>
												<td>{{ props.item.indexCount }}</td>
												<td>{{ props.item.experimentCount }}</td>
											</tr>
										</template>
									</v-data-table>
								</v-card>
							</v-stepper-content>
							
							<v-stepper-content step="5">
								<v-card v-if="stepperPage > 4">
									<v-toolbar dark class="blue-grey darken-1">
										<v-btn icon @click="stepperPage--; getDevices();"><v-icon>arrow_back</v-icon></v-btn>
										<v-toolbar-title>
											{{ wafer }}{{ chip }} {{ device }} Experiments
										</v-toolbar-title>
										<v-spacer></v-spacer>
										<v-text-field v-model="experimentTableSearch" append-icon="search" label="Search" single-line hide-details></v-text-field>
										<v-btn icon @click="getAll()"><v-icon>refresh</v-icon></v-btn>
									</v-toolbar>
									<v-data-table :items="experimentsWithIndexes" :headers="experimentTableHeaders" :search="experimentTableSearch" must-sort
										:rows-per-page-items="[10,20,50,{'text':'$vuetify.dataIterator.rowsPerPageAll','value':-1}]"
										no-results-text="Your search did not return any results."
										:custom-filter="customVDataTableFilter"
										:pagination.sync="experimentTablePagination">
										<template slot="items" slot-scope="props">
											<tr @click="goToExperiment(props.item.i)">
												<td>{{ props.item.startIndexes.experimentNumber }}</td>
												<td>{{ props.item.runType }}</td>
												<td>{{ props.item.MeasurementSystem.systemType }}</td>
												<td>{{ props.item.uiComputed.indexCount }}</td>
											</tr>
										</template>
									</v-data-table>
								</v-card>
								
								
							</v-stepper-content>
							
							<v-stepper-content step="6">
								<v-card v-if="stepperPage > 5 && experiments.length > experimentIndex">
									<v-toolbar dark class="blue-grey darken-1">
										<v-btn icon @click="stepperPage--; getExperiments();"><v-icon>arrow_back</v-icon></v-btn>
										<v-toolbar-title>
											{{ wafer }}{{ chip }} {{ device }} Experiment #{{ experiment.startIndexes.experimentNumber }}
										</v-toolbar-title>
										<v-btn icon @click="experimentIndex--" :disabled="experimentIndex <= 0" class="ml-4"><v-icon>arrow_back_ios</v-icon></v-btn>
										<v-btn icon @click="experimentIndex++" :disabled="experimentIndex >= experiments.length - 1"><v-icon>arrow_forward_ios</v-icon></v-btn>
										<v-spacer></v-spacer>
										<v-btn icon @click="getAll(); newCacheBust();"><v-icon>refresh</v-icon></v-btn>
									</v-toolbar>
									
									<v-container fluid grid-list-sm>
										<v-layout row wrap>
											
											<v-flex xs12 sm6 md4 lg3 xl2 d-flex v-for="possiblePlot in experiment.possiblePlots">
												<v-card class="ma-1" tile>
													<v-toolbar dark class="blue-grey lighten-1">
														<v-toolbar-title>
															{{ possiblePlot }}
														</v-toolbar-title>
													</v-toolbar>
													<div class="text-xs-center">
														<!-- <img :src="'/plots/'+user+'/'+project+'/'+wafer+'/'+chip+'/'+device+'/'+experiment.startIndexes.experimentNumber+'/'+possiblePlot + cacheBust" @click="console.log('clicked image')"> -->
														<zoomable-image :src="'/plots/'+user+'/'+project+'/'+wafer+'/'+chip+'/'+device+'/'+experiment.startIndexes.experimentNumber+'/'+possiblePlot + cacheBust + '&plotSettings=' + encodeURI(JSON.stringify(plotSettings))"></zoomable-image>
													</div>
												</v-card>
											</v-flex>
											
										</v-layout>
									</v-container>
									
									
									<!-- <v-container fluid grid-list-sm>
										<v-layout row wrap>
											<v-flex xs12 md6 lg4 xl3 d-flex v-for="section in _.keys(experiment)" v-if="typeof experiment[section] == 'object'">
												<v-card class="ma-1" tile>
													<v-card-title>{{ section }}</v-card-title>
													<v-data-table :items="_.toPairs(experiment[section])" :headers="[{'text':'Property'},{'text':'Value'}]" hide-actions hide-headers>
														<template slot="items" slot-scope="props">
															<td> {{ props.item[0] }}</td>
															<td> {{ props.item[1] }}</td>
														</template>
													</v-data-table>
												</v-card>
											</v-flex>
										</v-layout>
									</v-container> -->
									
									
									
									
									<v-card class="ma-1">
										<v-expansion-panel dark expand>
											<v-expansion-panel-content class="blue-grey darken-1" v-for="section in _.keys(experiment)" v-if="typeof experiment[section] == 'object'" ripple>
												<div slot="header">{{ section }}</div>
												<v-data-table :items="_.toPairs(experiment[section])" :headers="[{'text':'Property'},{'text':'Value'}]" hide-actions hide-headers light>
													<template slot="items" slot-scope="props">
														<td> {{ props.item[0] }}</td>
														<td> {{ props.item[1] }}</td>
													</template>
												</v-data-table>
											</v-expansion-panel-content>
										</v-expansion-panel>
									</v-card>
									
								</v-card>
							</v-stepper-content>
						</v-stepper-items>
					</v-stepper>
					
					
					<v-flex xs12 ma-4 v-if="topLevelPage == 'scheduleCreator'">
						<v-card>
							<v-toolbar dark class="blue-grey darken-1">
								<v-toolbar-title>
									Schedule Creator
								</v-toolbar-title>
								<v-spacer></v-spacer>
								<v-btn icon @click="parameters = JSON.parse(JSON.stringify(defaultParameters))">
									<v-icon>settings_backup_restore</v-icon>
								</v-btn>
							</v-toolbar>
							<v-container fluid grid-list-md>
								<v-layout row wrap>
									
									<v-flex xs12 sm6 md4 lg3 xl2 d-flex>
										<v-card ma-1 tile>
											<v-toolbar dark class="blue-grey lighten-1">
												<v-toolbar-title>
													Parameters
												</v-toolbar-title>
											</v-toolbar>
											
											<v-list>
												<v-select box class="ma-3" label="Run Type" v-model="parameters['runType']" :items="Object.keys(parametersDescription['runConfigs'])"></v-select>
												<v-subheader>Identifiers</v-subheader>
												<v-list-tile v-for="(settingDescription, settingName) in parametersDescription['Identifiers']" v-if="['bool','float','int','string','choice'].includes(settingDescription.type)">
													<v-switch v-if="settingDescription.type == 'bool'" :label="settingName" v-model="parameters['Identifiers'][settingName]"></v-switch>
													<v-text-field v-if="settingDescription.type == 'float'" :label="settingName" v-model.number="parameters['Identifiers'][settingName]"></v-text-field>
													<v-text-field v-if="settingDescription.type == 'int'" :label="settingName" v-model.number="parameters['Identifiers'][settingName]"></v-text-field>
													<v-text-field v-if="settingDescription.type == 'string'" :label="settingName" v-model="parameters['Identifiers'][settingName]"></v-text-field>
													<v-select v-if="settingDescription.type == 'choice'" :label="settingName"  v-model="parameters['Identifiers'][settingName]" :items="settingDescription.choices"></v-select>
												</v-list-tile>
												
												<v-subheader>Measurement System</v-subheader>
												<v-list-tile v-for="(settingDescription, settingName) in parametersDescription['MeasurementSystem']" v-if="['bool','float','int','string','choice'].includes(settingDescription.type)">
													<v-switch v-if="settingDescription.type == 'bool'" :label="settingName"
														v-model="defaultParameters['MeasurementSystem'][settingName]"></v-switch>
													<v-text-field v-if="settingDescription.type == 'float'" :label="settingName"
														v-model="defaultParameters['MeasurementSystem'][settingName]"></v-text-field>
													<v-text-field v-if="settingDescription.type == 'int'" :label="settingName"
														v-model="defaultParameters['MeasurementSystem'][settingName]"></v-text-field>
													<v-text-field v-if="settingDescription.type == 'string'" :label="settingName"
														v-model="defaultParameters['MeasurementSystem'][settingName]"></v-text-field>
													<v-select v-if="settingDescription.type == 'choice'" :label="settingName" :items="settingDescription.choices"
														v-model="defaultParameters['MeasurementSystem'][settingName]"></v-select>
												</v-list-tile>
											</v-list>
										</v-card>
									</v-flex>
									
									<v-flex xs12 sm6 md4 lg3 xl2 d-flex v-if="runType">
										<v-card ma-1 tile>
											<v-toolbar dark class="blue-grey lighten-1">
												<v-toolbar-title>
													{{ runType }}
												</v-toolbar-title>
												<v-spacer></v-spacer>
												<v-btn icon @click="parameters['runConfigs'][runType] = JSON.parse(JSON.stringify(defaultParameters['runConfigs'][runType]))">
													<v-icon>settings_backup_restore</v-icon>
												</v-btn>
											</v-toolbar>
											<v-list>
												<v-list-tile v-for="(settingDescription, settingName) in parametersDescription['runConfigs'][runType]" v-if="['bool','float','int','string','choice'].includes(settingDescription.type)">
													<v-switch v-if="settingDescription.type == 'bool'" :label="settingName"
														v-model="parameters['runConfigs'][runType][settingName]"></v-switch>
													<v-text-field v-if="settingDescription.type == 'float'" :label="settingName" :suffix="' ('+_.get(settingDescription,['units'])+')'"
														v-model.number="parameters['runConfigs'][runType][settingName]"></v-text-field>
													<v-text-field v-if="settingDescription.type == 'int'" :label="settingName + ' ('+_.get(settingDescription,['units'])+')'"
														v-model.number="parameters['runConfigs'][runType][settingName]" clearable>
															<v-icon slot="append" @click="parameters['runConfigs'][runType][settingName] = JSON.parse(JSON.stringify(defaultParameters['runConfigs'][runType][settingName]))" v-if="JSON.parse(JSON.stringify(parameters['runConfigs'][runType][settingName])) != JSON.parse(JSON.stringify(defaultParameters['runConfigs'][runType][settingName]))">settings_backup_restore</v-icon>
														</v-text-field>
													<v-text-field v-if="settingDescription.type == 'string'" :label="settingName"
														v-model="parameters['runConfigs'][runType][settingName]"></v-text-field>
													<v-select v-if="settingDescription.type == 'choice'" :label="settingName" :items="settingDescription.choices"
														v-model="parameters['runConfigs'][runType][settingName]"></v-select>
												</v-list-tile>
											</v-list>
										</v-card>
									</v-flex>
									
									<v-flex xs12 sm6 md4 lg3 xl2 d-flex v-for="dependency in _.get(parametersDescription, ['runConfigs', runType, 'dependencies'])">
										<v-card ma-1 tile>
											<v-toolbar dark class="blue-grey lighten-1">
												<v-toolbar-title>
													{{ dependency }}
												</v-toolbar-title>
												<v-spacer></v-spacer>
												<v-btn icon @click="parameters['runConfigs'][dependency] = JSON.parse(JSON.stringify(defaultParameters['runConfigs'][dependency]))">
													<v-icon>settings_backup_restore</v-icon>
												</v-btn>
											</v-toolbar>
											<v-list>
												<v-list-tile v-for="(settingDescription, settingName) in parametersDescription['runConfigs'][dependency]" v-if="['bool','float','int','string','choice'].includes(settingDescription.type)">
													<v-switch v-if="settingDescription.type == 'bool'" :label="settingName"
														v-model="parameters['runConfigs'][dependency][settingName]"></v-switch>
													<v-text-field v-if="settingDescription.type == 'float'" :label="settingName" :suffix="' ('+_.get(settingDescription,['units'])+')'"
														v-model.number="parameters['runConfigs'][dependency][settingName]"></v-text-field>
													<v-text-field v-if="settingDescription.type == 'int'" :label="settingName" :suffix="' ('+_.get(settingDescription,['units'])+')'"
														v-model.number="parameters['runConfigs'][dependency][settingName]"></v-text-field>
													<v-text-field v-if="settingDescription.type == 'string'" :label="settingName"
														v-model="parameters['runConfigs'][dependency][settingName]"></v-text-field>
													<v-select v-if="settingDescription.type == 'choice'" :label="settingName" :items="settingDescription.choices"
														v-model="parameters['runConfigs'][dependency][settingName]"></v-select>
												</v-list-tile>
											</v-list>
										</v-card>
									</v-flex>
									
									<v-flex xs12 sm6 md4 lg3 xl2 d-flex>
										<v-card ma-1 tile>
											<v-toolbar dark class="blue-grey lighten-1">
												<v-toolbar-title>
													Schedule File
												</v-toolbar-title>
											</v-toolbar>
											<p>
												{{ scheduleLine }}
											</p>
										</v-card>
									</v-flex>
									
								</v-layout>
							</v-container>
						</v-card>
					</v-flex>
					
					<div>
						 <!-- <img src="/plots/C127/X/15-16/3/FullSubthresholdCurveHistory" alt="Can't display the image"> -->
					</div>
					
				</v-content>
				<v-footer inset>
					<v-spacer></v-spacer><span class="pr-3">Created by Steven Noyce. Updated August 2018.</span>
				</v-footer>
			</v-app>
		</transition>
	</div>
	
	
	<script src="/ui/jquery.js"></script>
	<script src="/ui/lodash.js"></script>
	<script src="/ui/vue.js"></script>
	<script src="/ui/vuetify.js"></script>
	<script type="text/javascript">
		
		
		function groupBy(elements, groupKey) {
			return elements.reduce(function(rv, x) {
				(rv[x[groupKey]] = rv[x[groupKey]] || []).push(x);
				return rv;
			}, {});
		}
		
		const get = path => object => path.reduce((xs, x) => (xs && xs[x]) ? xs[x] : null, object);
		
		function objectDeepDiff(object, base) {
			function changes(object, base) {
				return _.transform(object, function(result, value, key) {
					if (!_.isEqual(value, base[key])) {
						result[key] = (_.isObject(value) && _.isObject(base[key])) ? changes(value, base[key]) : value;
					}
				});
			}
			return changes(object, base);
		}
		
		Vue.component('zoomable-image', {
			data: function() {
				return {
					zoomActive: false
				}
			},
			props: ['src'],
			template: '<img :src="src" v-bind:class="{ zoomedImage: zoomActive, zoomableImage: !zoomActive }" @click="zoomActive = !zoomActive">'
			//.getBoundingClientRect();
		});
		
		var app = new Vue({
			el: '#app',
			data: {
				pageLoading: true,
				currentPage: window.location.hash.substr(1) || "",
				drawer: null,
				online: navigator.onLine,
				stepperPage: localStorage.stepperPage || 1,
				topLevelPage: localStorage.topLevelPage || 'stepper',
				pageNames: ['projects','wafers','chips','devices','experiments','experiment'],
				parametersTab: 0,
				parametersSection: '',
				cacheBust: '',
				
				defaultPlotSettings: {
					'startExperimentNumber': null,
					'endExperimentNumber': null,
					'figureSize': null,
					'sweepDirection': 'both',
					'plotInRealTime': true,
					'startRelativeIndex': 0,
					'endRelativeIndex': 1e10,
					'plot_mode_parameters': null
				},
				
				setPlotSettings: {
					'startExperimentNumber': null,
					'endExperimentNumber': null,
					'figureSize': null,
					'sweepDirection': 'both',
					'plotInRealTime': true,
					'startRelativeIndex': 0,
					'endRelativeIndex': 1e10,
					'plot_mode_parameters': null
				},
				
				plotSettingTypes: {
					'startExperimentNumber': {'type': 'int'},
					'endExperimentNumber': {'type': 'int'},
					'figureSize': {'type': 'array'},
					'sweepDirection': {'type': 'choice', 'choices': ['both', 'forward', 'reverse']},
					'plotInRealTime': {'type': 'bool'},
					'startRelativeIndex': {'type': 'int'},
					'endRelativeIndex': {'type': 'int'},
					'plot_mode_parameters': {'type': 'object'}
				},
				
				users: [],
				user: localStorage.user || '',
				
				projects: [],
				project: localStorage.project || '',
				projectTableHeaders: [
					{'text':'Name', 'value':'name'}],
				projectTableSearch: '',
				
				wafers: [],
				wafer: localStorage.wafer || '',
				waferTableHeaders: [
					{'text':'Name', 'value':'name'},
					{'text':'Path', 'value':'path', 'searchable':false},
					{'text':'Modification Time', 'value':'modificationTime', 'searchable':false},
					{'text':'Size', 'value':'size', 'searchable':false},
					{'text':'Tested Chips', 'value':'chipCount', 'searchable':false},
					{'text':'Indexes', 'value':'indexCount', 'searchable':false},
					{'text':'Experiments', 'value':'experimentCount', 'searchable':false}],
				waferTableSearch: '',
				
				chips: [],
				chip: localStorage.chip || '',
				chipTableHeaders: [
					{'text':'Name', 'value':'name'},
					{'text':'Path', 'value':'path', 'searchable':false},
					{'text':'Modification Time', 'value':'modificationTime', 'searchable':false},
					{'text':'Size', 'value':'size', 'searchable':false},
					{'text':'Tested Devices', 'value':'deviceCount', 'searchable':false},
					{'text':'Indexes', 'value':'indexCount', 'searchable':false},
					{'text':'Experiments', 'value':'experimentCount', 'searchable':false}],
				chipTableSearch: '',
				
				devices: [],
				device: localStorage.device || '',
				deviceTableHeaders: [
					{'text':'Name', 'value':'displayName'},
					{'text':'Path', 'value':'path', 'searchable':false},
					{'text':'Modification Time', 'value':'modificationTime', 'searchable':false},
					{'text':'Size', 'value':'size', 'searchable':false},
					{'text':'Indexes', 'value':'indexCount', 'searchable':false},
					{'text':'Experiments', 'value':'experimentCount', 'searchable':false}],
				deviceTableSearch: '',
				
				experiments: [],
				experimentIndex: localStorage.experimentIndex || 0,
				experimentTableHeaders: [
					{'text':'Experiment Number', 'value':'startIndexes.experimentNumber'},
					{'text':'Run Type', 'value':'runType'},
					{'text':'Measurement System', 'value':'MeasurementSystem.systemType'},
					{'text':'Indexes', 'value':'uiComputed.indexCount'}],
				experimentTableSearch: '',
				experimentTablePagination: {'sortBy': 'startIndexes.experimentNumber', 'descending': true},
				
				indexes: [],
				
				possibleRunTypes: ['GateSweep', 'AutoGateSweep', 'StaticBias', 'AutoStaticBias'],
				defaultParameters: {},
				parameters: {},
				parametersDescription: {}
			},
			methods: {
				
				getAll: function() {
					this.getUsers();
					this.getProjects();
					this.getWafers();
					this.getChips();
					this.getDevices();
					this.getExperiments();
					
					this.pageLoading = false;
					this.newCacheBust();
				},
				
				getUsers: function() {
					var path = "/users.json" + this.cacheBust;
					if (path) {
						$.getJSON(path, response => {this.users = response})
						.fail(() => {console.log("Error getting users")});
					}
				},
				getProjects: function() {
					var path = '/' + this.user + '/projects.json' + this.cacheBust;
					if (path) {
						$.getJSON(path, response => {app.$data.projects = response})
						.fail(() => {console.log("Error getting projects")});
					}
				},
				getWafers: function() {
					var path = '/' + this.user + '/' + this.project + '/wafers.json' + this.cacheBust;
					if (path) {
						$.getJSON(path, response => {app.$data.wafers = response})
						.fail(() => {console.log("Error getting wafers")});
					}
					
					this.getIndexes();
				},
				getChips: function() {
					var path = '/' + this.user + '/' + this.project + '/' + this.wafer + '/chips.json' + this.cacheBust;
					if (path) {
						$.getJSON(path, response => {app.$data.chips = response})
						.fail(() => {console.log("Error getting chips")});
					}
				},
				getDevices: function() {
					var path = '/' + this.user + '/' + this.project + '/' + this.wafer + '/' + this.chip + '/devices.json' + this.cacheBust;
					if (path) {
						$.getJSON(path, response => {
							response.map(function(device) {
								var contacts = device.name.match(/\d+/g).map(num => num.padStart(2, '0'));
								device.displayName = contacts.join('-');
								return device;
							});
							app.$data.devices = response;
						})
						.fail(() => {console.log("Error getting devices")});
					}
				},
				getExperiments: function() {
					var path = '/' + this.user + '/' + this.project + '/' + this.wafer + '/' + this.chip + '/' + this.device + '/experiments.json' + this.cacheBust;
					if (path) {
						$.getJSON(path, response => {
							console.log("Starting to receive experiments");
							for (var i = 0; i < response.length; i++) {
								response[i]['uiComputed'] = {};
								response[i]['uiComputed']['indexCount'] = response[i]['endIndexes']['index'] - response[i]['startIndexes']['index'];
							}
							app.$data.experiments = response;
							
							
							let lastExperiment = this.experiments[this.experiments.length - 1];
							let lastFinishedIndex = lastExperiment['endIndexes']['index'];
							let lastIndexObject = this.indexes[this.wafer][this.chip][this.device];
							let lastIndex = lastIndexObject['index'];
							
							if (lastIndex > lastFinishedIndex) {
								let currentExperiment = JSON.parse(JSON.stringify(lastExperiment));
								currentExperiment['startIndexes'] = JSON.parse(JSON.stringify(lastExperiment['startIndexes']));
								currentExperiment['startIndexes']['experimentNumber']++;
								currentExperiment['endIndexes'] = JSON.parse(JSON.stringify(lastIndexObject));
								currentExperiment['runType'] = 'Running';
								this.experiments.push(currentExperiment);
							}
						})
						.fail(function(jqXHR, textStatus, errorThrown) { console.log('getJSON request failed! ' + textStatus + ' ' + errorThrown); });
						//.fail(() => {console.log("Error getting experiments");});
					}
				},
				getExperiment: function() {
					// $.getJSON('/' + this.wafer + '/' + this.chip + '/' + this.device + '/' + this.experiment + '/?.json', response => {app.$data.experiments = response}).fail(() => {console.log("Error getting devices")});
				},
				getIndexes: function() {
					var path = '/' + this.user + '/' + this.project + '/indexes.json' + this.cacheBust;
					if (path) {
						$.getJSON(path, response => {app.$data.indexes = response})
						.fail(() => {console.log("Error getting indexes")});
					}
				},
				
				goToUser: function(userName) {
					this.user = userName;
					localStorage.user = userName;
					this.getProjects();
				},
				goToProject: function(projectName) {
					this.project = projectName;
					localStorage.project = projectName;
					this.getWafers();
					this.stepperPage++;
				},
				goToWafer: function(waferName) {
					this.wafer = waferName;
					localStorage.wafer = waferName;
					this.getChips();
					this.stepperPage++;
				},
				goToChip: function(chipName) {
					this.chip = chipName;
					localStorage.chip = chipName;
					this.getDevices();
					this.stepperPage++;
				},
				goToDevice: function(deviceName) {
					this.device = deviceName;
					localStorage.device = deviceName;
					this.getExperiments();
					this.stepperPage++;
				},
				goToExperiment: function(experimentIndex) {
					this.experimentIndex = experimentIndex;
					localStorage.experimentIndex = experimentIndex;
					// this.experiment = experimentParameters;
					this.parametersTab = this.experiments[experimentIndex].runType;
					this.parametersSection = this.experiments[experimentIndex].runType;
					this.getExperiment();
					this.stepperPage++;
				},
				
				customVDataTableFilter: function(items, search, filter, headers) {
					search = search.toString().toLowerCase();
					if (search.trim() === '') return items;
					
					// const props = headers.map(h => h.value); // default
					const props = headers.filter(h => !('searchable' in h) || h.searchable === true).map(h => h.value); // exclude searchable:false
					// const props = headers.filter(h => h.searchable === true).map(h => h.value); // include searchable:true
					
					return items.filter(item => props.some(prop => filter(_.get(item, prop), search)));
				},
				newCacheBust: function() {
					var cacheBust = '?cb=' + new Date().getTime();
					this.cacheBust = cacheBust;
					return cacheBust;
				},
				setTopLevelPage: function(name) {
					this.topLevelPage = name;
					localStorage.topLevelPage = name;
				}
			},
			watch: {
				stepperPage: function(val) { localStorage.stepperPage = val; }
			},
			computed: {
				experiment: function() {
					if (this.experimentIndex > this.experiments.length) {
						this.experimentIndex = 0;
					}
					return this.experiments[this.experimentIndex];
				},
				experimentsWithIndexes: function() {
					return this.experiments.map((x, i) => { return {...x, i} })
				},
				plotSettings: function() {
					return _.omitBy(this.setPlotSettings, (v,k) => ((this.defaultPlotSettings[k] == v) || v == '') );
					// return this.setPlotSettings;
				},
				defaultRunConfigs: function() {
					return this.defaultParameters['runConfigs'];
				},
				scheduleLine: function() {
					return objectDeepDiff(this.parameters, this.defaultParameters);
				},
				runType: function() {
					return this.parameters['runType'];
				}
			}
		});
		
		app.$vuetify.theme.primary = '#938E94';
		app.$vuetify.theme.secondary = '#557A95';
		app.$vuetify.theme.accent = '#7395AE';
		app.$vuetify.theme.error = '#BF360C';
		app.$vuetify.theme.success = '#00897B';
		app.$vuetify.theme.info = '#B1A296';
		app.$vuetify.theme.warning = '#FFB300';
		
		$( document ).ready(function(){
			
		});
		
		function updateConnectionStatus() {
			app.$set(app, 'online', navigator.onLine);
		}
		
		window.addEventListener('online', updateConnectionStatus);
		window.addEventListener('offline', updateConnectionStatus);
		window.onhashchange = function() { app.$data.currentPage = location.hash; };
		
		if (typeof(Storage) !== 'undefined') {
			localStorage.exists = 'True';
		}
		
		app.getAll();
		
		$.getJSON("/defaultParameters.json" + app.$data.cacheBust, response => {
			app.$data.defaultParameters = response;
			app.$data.parameters = JSON.parse(JSON.stringify(response));
		}).fail(() => {console.log("Error getting default parameters")});
		$.getJSON("/parametersDescription.json" + app.$data.cacheBust, response => {app.$data.parametersDescription = response}).fail(() => {console.log("Error getting parameters description")});
		
	</script>
</body>
</html>


